{% extends "bootstrap/base.html" %}
{% block styles %}
  {{super()}}
  <link rel="stylesheet" type="text/css" href="layoutStyle.css">

{% endblock %}
{% block navbar %}
    <nav class="navbar" role="navigation">
        <div class="container-fluid">
            <div class ="navbar-header">
                <a class="navbar-brand" href=""><i class='fa fa-legal fa-lg'></i>&nbsp; OSTstream </a>
            </div>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown"> My Music <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="">My Playlists</a></li>
                        <li><a href="">Recently Played</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav nabar-navnavbar-right">
                {% if session['user']%]
                    <p class="navbar-text"> Signed in as {{sessions['user']}}</p>
                    <li><a href=""> Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}

                
